@ 86400 IN SOA {{ domain }}. root.{{ domain }}. (
20091028 ; serial yyyy-mm-dd
10800 ; refresh every 15 min
3600 ; retry every hour
3600000 ; expire after 1 month +
86400 ); min ttl of 1 day
@ 86400 IN NS controller.

erl      A {{ network }}.1

client  A {{ network }}.10
rgw-node1  A {{ network }}.12
rgw-node2  A {{ network }}.13
rgw-node3  A {{ network }}.14
deploy A {{ network }}.114
controller A {{ network }}.115
compute1 A {{ network }}.116
compute2 A {{ network }}.117
network A {{ network }}.118
mon1  A {{ network }}.100
mon2  A {{ network }}.101
mon3  A {{ network }}.102
osd1  A {{ network }}.103
osd2  A {{ network }}.104
osd3  A {{ network }}.105
ns1      A {{ network }}.115

region-1 IN CNAME rgw-node1
region-2 IN CNAME rgw-node2
region-3 IN CNAME rgw-node3
